<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>句を読みなおす</title>
    <meta name="viewport" content="width=devide-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/haiku.css">
</head>
<body>
<div id="modal-view" class="edit-view">
  <a href="#" class="close"></a>
  <div class="form-box">
    <h2>句を読みなおす</h2>
    <form action="/renew/<%= @content.id %>" method="post">
      <h3>上の句</h3>
      <input type="text" maxlength="5" name="haiku1" value="<%= @content.haiku1 %>">
      <input type="text" maxlength="7" name="haiku2" value="<%= @content.haiku2 %>">
      <input type="text" maxlength="5" name="haiku3" value="<%= @content.haiku3 %>">
      <h3>下の句</h3>
      <input type="text" maxlength="7" name="haiku4" value="<%= @content.haiku4 %>">
      <input type="text" maxlength="7" name="haiku5" value="<%= @content.haiku5 %>">
      <h3>ペンネーム</h3>
      <input type="text" name="author" value="<%= @content.author %>"></p>
      <input type="submit" value="再 投 稿">
    </form>
  </div>
</div>
</body>
</html>
